


<div class="container-fluid text-center">

    <h1>Soru oluştur</h1>
    <button class="btn btn-outline-success" id="add-exam">+</button>




    <form method="post" enctype="multipart/form-data" class="needs-validation">
        <div class="card mt-2 ">
            <div class="card-body w-75 m-auto ">

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Başlangıç Tarihi</span>
                    <input type="datetime-local" class="form-control" id="birthdaytime" name="StartDateTime" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
                </div>

            </div>
            <div class="card-body w-75 m-auto ">

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Başlangıç Tarihi</span>
                    <input type="datetime-local" class="form-control" id="birthdaytime" name="EndDateTime" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
                </div>

            </div>
        </div>

        <div class="row" id="exams">

        </div>


        <div class="row d-inline-block">

            <button type="submit" id="DbSave" class="btn btn-primary mt-4 mb-5">Save</button>
        </div>
    </form>

</div>



@section Scripts{

    <script>
        function myFunction(p1, p2) {

            document.getElementById(p1).value = document.getElementById(p2).value;


        }
        function myDelete(p1) {
            document.getElementById(p1).innerHTML = ""


        }
    </script>
    <script>
        $(function () {

            $('#add-exam').click(function () {
                var exams = $('#exams')
                var newIndexName = 'Questions[' + exams.children().length + '].';
                var newWrapper = $('<div class="card mt-5" id="card[' + (exams.children().length + 1) + ']" ></div >');
                var inWrapper = $('<ul class="list-group list-group-flush"></ul>');
                $(`<div class="card-header">Soru: ` + (exams.children().length + 1) +/*`<div class= "btn btn-outline-danger ml-4" onclick="myDelete('` + "card[" + (exams.children().length + 1) +"]"+`')"  id = "delete-exam" >-</div>*/ `</div >`).appendTo(newWrapper);

                //soru textbox
                $(`<div class="input-group input-group-sm mb-3 w-75 m-auto mt-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Soru:</span>
                                <input type="text" name="`+ newIndexName + "Title" + `" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
                               </div>`).appendTo('<li class="list-group-item"></li>').appendTo(inWrapper);
                //şık textbox
                $(`<div class="input-group input-group-sm mb-3 w-75 m-auto mt-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">A )</span>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" onclick="myFunction('` + newIndexName + "CorrectAnswer1" + `','` + newIndexName + "Options.OptionOne" + `')" name="` + newIndexName + "CorrectAnswer" + `" id="` + newIndexName + "CorrectAnswer1" + `" required>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="`+ newIndexName + "Options.OptionOne" + `" name="` + newIndexName + "Options.OptionOne" + `" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
                               </div>`).appendTo('<li class="list-group-item"></li>').appendTo(inWrapper);
                
                $(`<div class="input-group input-group-sm mb-3 w-75 m-auto mt-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">B )</span>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" onclick="myFunction('` + newIndexName + "CorrectAnswer2" + `','` + newIndexName + "Options.OptionTwo" + `')" name="` + newIndexName + "CorrectAnswer" + `" id="` + newIndexName + "CorrectAnswer2" + `" required>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="`+ newIndexName + "Options.OptionTwo" + `" name="` + newIndexName + "Options.OptionTwo" + `" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
                               </div>`).appendTo('<li class="list-group-item"></li>').appendTo(inWrapper);
                $(`<div class="input-group input-group-sm mb-3 w-75 m-auto mt-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">C )</span>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" onclick="myFunction('` + newIndexName + "CorrectAnswer3" + `','` + newIndexName + "Options.OptionThree" + `')" name="` + newIndexName + "CorrectAnswer" + `" id="` + newIndexName + "CorrectAnswer3" + `" required>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="`+ newIndexName + "Options.OptionThree" + `" name="` + newIndexName + "Options.OptionThree" + `" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
                               </div>`).appendTo('<li class="list-group-item"></li>').appendTo(inWrapper);
                $(`<div class="input-group input-group-sm mb-3 w-75 m-auto mt-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">D )</span>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" onclick="myFunction('` + newIndexName + "CorrectAnswer4" + `','` + newIndexName + "Options.OptionFour" + `')" name="` + newIndexName + "CorrectAnswer" + `" id="` + newIndexName + "CorrectAnswer4" + `" required>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="`+ newIndexName + "Options.OptionFour" + `" name="` + newIndexName + "Options.OptionFour" + `" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
                               </div>`).appendTo('<li class="list-group-item"></li>').appendTo(inWrapper);
                $(`<div class="input-group input-group-sm mb-3 w-75 m-auto mt-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">E )</span>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" onclick="myFunction('` + newIndexName + "CorrectAnswer5" + `','` + newIndexName + "Options.OptionFive" + `')" name="` + newIndexName + "CorrectAnswer" + `" id="` + newIndexName + "CorrectAnswer5" + `" required>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="`+ newIndexName + "Options.OptionFive" + `" name="` + newIndexName + "Options.OptionFive" + `" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
                               </div>`).appendTo('<li class="list-group-item"></li>').appendTo(inWrapper);
                //cevap textbox

                $(`<div class="input-group input-group-sm mb-3 w-75 m-auto mt-3">
                                <input type="file" class="form-control" name="formFile" id="inputGroupFile01" required>
                               </div>`).appendTo('<li class="list-group-item"></li>').appendTo(inWrapper);




                inWrapper.appendTo(newWrapper);
                newWrapper.appendTo(exams);



                return false;
            });
        });

    </script>
}